
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://lh3.googleusercontent.com/5VnxQmQFs8y3BGkZjRfiFd1wG3oIpdBbojcIyqkSFZtrslOj5ivBEzKR2wrIEwi3rA" width="70" height="70" class="d-inline-block align-top" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link"><h5>Home</h5></a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('article_new') }}" class="nav-link"><h5>New Article</h5></a>
                </li>
            </ul>
        </div>

    </div>

</nav>